@use "~/assets/styles/variables" as *;
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "./loading.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Noto Sans TC,
    sans-serif;
  font-style: normal;
  // border: solid 1px black;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
Icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

.container {
  padding: 0px 15px;
}

// 滾輪設定
.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid $white;
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

//alert設定
.my-button {
  background-color: $eerie-black;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.my-button:hover {
  background-color: $salmon-pink;
}

/* 針對日期輸入框的基本樣式 */
.input-box input[type="date"] {
  -webkit-appearance: none; /* 禁用Safari的預設樣式 */
  -moz-appearance: none; /* 禁用Firefox的預設樣式 */
  appearance: none; /* 禁用所有瀏覽器的預設樣式 */
}

// RWD設定
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
  .container {
    max-width: 750px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  $fs-1: 2.625em;
  $fs-2: 1.125rem;

  html {
    font-size: 18px;
  }

  .container {
    max-width: 980px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }

  .container {
    max-width: 1350px;
  }
}
