@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "./variables";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans TC, sans-serif;
    font-style: normal;
    // border: solid 1px black;
}

a { text-decoration: none; }
li { list-style: none; }
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img, Icon, button, a { display: block; }

span { display: inline-block; }

input {
    display: block;
    width: 100%;
    font: inherit;
}
  
input::placeholder { font: inherit; }
